* {
  margin: 0;
  padding: 0;
  list-style: none;
}
.msgboard {
  width: 800px;
  padding: 0 16px;
  margin: 0 auto;
  // text-align: center;
  .msgboard_top {
    width: 100%;
    text-align: center;
    background-color: #fff;
    padding-bottom: 10px;
    height: 100px;
    h3 {
      font-size: 14px;
      font-weight: 700;
      padding-bottom: 20px;
    }
    h2 {
      padding-top: 20px;
    }
  }
  .msgboard_banner {
    border-top: 1px solid;
    border-color: #f0f2f7;
    background: #e7eaee;
    padding: 1rem 0;
    .msgboard_banner_padding {
      width: 100%;
      // background-color: red;
      width: 752px;
      margin: 0 auto;
      .msgboard_banner_title {
        text-align: center;
        margin: 10px 0;
        margin-bottom: 20px;
      }
      .msgboard_banner_inp {
        text-align: center;
        background-color: #fff;
        margin: 0 10px;
        padding-top: 16px;
        textarea {
          width: 100%;
          background-color: #d9d9d9;
          color: rgba(0, 0, 0, 0.85);
          background: #fff;
          box-shadow: none !important;
          height: '98px';
          min-height: '98px';
          max-height: '186px';
          resize: 'none';
          overflow-y: 'hidden';
          border-color: #d9d9d9;
        }
        footer {
          display: flex;
          justify-content: space-between;
          p {
            margin-left: 20px;
            display: flex;
            align-items: center;
            svg {
              width: 18px;
              height: 18px;
              margin-right: 5px;
              color: #aaa;
            }
            span {
              color: #aaa;
            }
          }
          button {
            height: 30px;
            width: 60px;
            margin-right: 20px;
            border: 1px solid #ccc;
            border-radius: 3px;
          }
        }
      }
      .msgboard_banner_comment {
        margin-top: 1rem;
        .msgboard_banner_comment_item {
          border-radius: 2px;
          box-shadow: 0 1px 3px rgb(18 18 18/10%);
          background-color: #fff;
          margin-top: 1rem;
        }
        .msgboard_banner_comment_item_comment {
          padding-top: 10px;
          padding-bottom: 20px;
          .msgboard_banner_comment_title {
            width: 95%;
            margin: 0 auto;
            margin-bottom: 10px;
            .msgboard_banner_comment_item_two_icon {
              width: 30px;
              height: 30px;
              display: inline-block;
              text-align: center;
              line-height: 30px;
              color: #fff;
              margin-right: 10px;
              border-radius: 50%;
              font-weight: 600;
              background-color: red;
              font-size: 16px;
            }
          }
          .msgboard_banner_comment_main {
            width: 85%;
            margin: 0 auto;
            p {
              font-size: 14px;
            }
            .msgboard_banner_comment_main_content {
              color: #ccc;
              margin: 10px 0;
              .msgboard_banner_comment_main_content_icon {
                z-index: 190000;
                margin-left: 10px;
                svg {
                  margin-right: 3px;
                  margin-bottom: -1px;
                }
              }
              .msgboard_banner_comment_main_content_icon:hover {
                color: red;
              }
            }
          }
        }
      }
      .msgboard_banner_comment_item_comment_two {
        padding-bottom: 20px;
        margin-left: 38px;
        margin-top: -10px;
        .msgboard_banner_comment_title_two {
          width: 95%;
          margin: 0 auto;
          margin-bottom: 10px;
          .msgboard_banner_comment_item_two_icon {
            width: 30px;
            height: 30px;
            display: inline-block;
            text-align: center;
            line-height: 30px;
            color: #fff;
            margin-right: 10px;
            border-radius: 50%;
            font-weight: 600;
            font-size: 16px;
          }
        }
        .msgboard_banner_comment_main_two {
          width: 85%;
          margin: 0 auto;
          p {
            font-size: 14px;
          }
          .msgboard_banner_comment_main_two_content {
            margin: 15px 0;
          }
          .msgboard_banner_comment_main_content_two {
            color: #ccc;
            .msgboard_banner_comment_main_content_icon_two {
              margin-left: 10px;
              svg {
                margin-right: 3px;
                margin-bottom: -1px;
              }
            }
            .msgboard_banner_comment_main_content_icon_two:hover {
              color: red;
            }
          }
        }
      }
      .msgboard_banner_comment_item_three_icon {
        display: inline-block;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 25px;
        background-color: green;
        border-radius: 50%;
        font-size: 18px;
        color: #fff;
      }
      .msgboard_banner_comment_page {
        background-color: #fff;
        height: 58px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .msgboard_list {
    max-width: 800px;
    padding: 0 16px;
    margin: 0 auto;
    .msgboard_list_title {
      margin-bottom: 30px;
      color: rgba(0, 0, 0, 0.85);
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      letter-spacing: 0.06em;
    }
    .msgboard_list_data {
      width: 95%;
      margin: 0 auto;
    }

    h3:hover {
      color: red;
    }

    .msgboard_list_data_title {
      display: flex;
      line-height: 50px;
      text-align: center;
      h3 {
        margin-right: 10px;
        font-weight: 700;
        font-size: 16px;
      }
      span {
        line-height: 15px;
        margin-top: 20px;
        color: #ccc;
        height: 15px;
        border-left: 1px solid #ccc;
        display: flex;
        padding: 0 10px;
      }
      p {
        border-left: 1px solid #ccc;
        margin-top: 20px;
        padding-left: 10px;
        height: 15px;
        line-height: 15px;
        color: #ccc;
      }
    }

    .msgboard_list_data_item {
      border-bottom: 1px solid #ccc;

      position: relative;
      display: flex;
      padding: 10px 0;
      dt {
        height: 120px;
        overflow: hidden;
        margin: 0 10px;
        img {
          height: 120px;
          position: absolute;
          width: 200px;
          top: 50%;
          left: 15%;
          transform: translate3d(-50%, -50%, 0);
          object-fit: cover;
        }
      }

      dd {
        position: relative;
        margin-left: 220px;
        color: #000;
        .msgboard_list_data_item_bottom {
          .msgboard_list_data_item_bottom_icon {
            position: absolute;
            bottom: 0;
            display: flex;
            li {
              margin: 0 15px;
              margin-left: -0px;
              svg {
                margin-bottom: -2px;
                margin-right: 1px;
              }
            }
          }
        }
      }
    }
  }
}
.msgboard_list_data_item_bottomTWo {
  border-bottom: 1px solid #ccc;

  ul {
    display: flex;
    padding-bottom: 10px;
    li {
      // margin-left:10px;
      svg {
        margin-bottom: -2px;
        margin-right: 1px;
      }

      margin: 0 20px;
      margin-left: -0px;
    }
  }
}
.msgboard_banner_hidden {
  height: 0;
  text-align: center;
  opacity: 0;
  display: none;
  background-color: #fff;
}
.PaginationI {
  color: rgba(0, 0, 0, 0.65);
  text-align: center;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgb(18 18 18/10%);
  padding: 10px 0;
  margin:.1rem auto;
  // margin-top: ;
  margin-bottom: 16px;
  width: 760px;
}
