html body {
  width: 100%;
  height: 100%;
  position: relative;
}
#root {
  height: 100%;
}
.ant-layout {
  height: 100%;
}
#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}
.ant-menu-item,
.ant-menu {
  background-color: #001529 !important;
}
#rc-menu-uuid-83783-1-1-popup {
  background-color: #001529 !important;
}
#rc-menu-uuid-83783-1-1-popup {
  background-color: #001529 !important;
}
.active li span {
  color: #1890ff !important;
}
.LayoutsHeader {
  color: #fff;
}
li {
  padding-left: 0 !important;
  color: #fff !important;
}
li span {
  margin-left: 25px;
}
.subone span {
  margin-left: 0 !important;
  margin-right: 10px;
}
.suboneChildren {
  padding-left: 35px !important;
}
.Header span {
  display: flex;
}
.Header img {
  width: 32px;
  height: 32px;
  opacity: 1;
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  object-fit: cover;
}
a {
  color: #001529 !important;
}
.HeaderButton {
  color: #fff;
  background: #0188fb;
  border-color: #0188fb;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
  height: 40px;
  padding: 6.4px 15px;
  font-size: 16px;
  border-radius: 2px;
  width: 180px;
  margin-left: 10px;
}
.scroll {
  overflow-y: auto;
  flex: 1;
}
.content {
  margin-left: 200px;
}
