.container {
  width: 100%;
  height: 100%;

  .file {
      margin: 15px;
      width: 97%;
      height: 143px;
      background-color:#fff;
  }
  .search{
      width: 97%;
      height: 100px;
      background-color: #fff;
      margin: 15px;
  }
  .search_list{
      width: 97%;
      height: 658px;
      background-color: #fff;
      margin: 15px;
  }
}
