.RightTop {
    border-radius: var(--border-radius);
    background-color: var(--bg-second);
    box-shadow: var(--box-shadow);
    margin-bottom: 1.3rem;
    line-height: 1.29;
    overflow: hidden;
    h4 {
      padding: 1rem;
      border-bottom: 1px solid var(--border-color);
      color: var(--main-text-color);
      font-weight: 700;
    }
    .ant {
      position: relative;
    }
    ul {
      padding: 0.5rem;
      a {
        list-style: none;
        margin-left: 12px;
        margin-top: 10px;
        span::before {
          content: '·';
          margin: 15px;
          font-weight: 600;
        }
      }
      a:hover {
        color: #f40a12;
      }
    }
  }