element.style {
  text-align: center;
  margin: 0 !important;
  border: 0;
  opacity: 1;
  height: 32px;
  transform: none;
  min-height: 100vh;
  background: var(--bg-body);
}
._2L8foJ_rg3AcilvSKA2iq7 img {
  width: 100%;
  max-width: 768px;
  padding-bottom: 1.5rem;
  margin: 0 auto;
}
._2L8foJ_rg3AcilvSKA2iq7 {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}
.box {
  min-height: 100vh;
  background: var(--bg-body);
}
.container {
  margin-right: auto;
  margin-left: auto;
}
._2eTSIHniNOTwaUvnm4wn7 {
  position: relative;
  margin-top: 21px;
}
._1TDituBtews_ULM98bSKdc {
  max-width: 800px;
  padding: 0 8px 21px;
  margin: 0 auto;
}
.markdown {
  word-break: break-word;
  line-height: 1.75;
  font-weight: 400;
  font-size: 15px;
  overflow-x: hidden;
  letter-spacing: 1.2px;
  color: var(--main-text-color);
}
.markdown h2 {
  padding-bottom: 12px;
  font-size: 24px;
  border-bottom: 1px solid #ececec;
  text-align: center;
  border: 0;
}

._10wT67E6AAzqcEqLI7jUbZ {
  padding: 1rem 0;
  border-top: 1px solid var(--border-color);
  background: var(--bg-body);
}
._10wT67E6AAzqcEqLI7jUbZ p {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.06em;
}
._3k5-guVzUUtXzu2skrNnws,
._13J4GEYHDRu5MejyviLpnU {
  border-radius: var(--border-radius);
  background-color: var(--bg-second);
  box-shadow: var(--box-shadow);
  padding: 16px;
}

.N1BwmgIkZZbNoeNN_FRbs .TaXtx7NU2ZhkaBRHq0_9o {
  position: relative;
}
textarea {
  height: 142px;
  min-height: 142px;
  max-height: 274px;
  overflow-y: hidden;
  resize: none;
  height: 142px;
  min-height: 142px;
  max-height: 274px;
  overflow-y: hidden;
  resize: none;
}
.N1BwmgIkZZbNoeNN_FRbs > footer {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}
._2eTSIHniNOTwaUvnm4wn7 {
  position: relative;
  margin-top: 21px;
}
._3GUiOO804xme2_agc9WfvC {
  max-width: 800px;
  padding: 0 16px;
  margin: 0 auto;
  background-color: #fff;
}
.ant_input {
  box-sizing: border-box;
  margin: 0;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: 'tnum';
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  padding: 4px 11px;
  color: #000;
  font-size: 14px;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  transition: all 0.3s;
}
.msgboard_banner_comment_item_comment {
  padding-top: 10px;
  padding-bottom: 20px;
  .msgboard_banner_comment_title {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 10px;
    .msgboard_banner_comment_item_two_icon {
      width: 30px;
      height: 30px;
      display: inline-block;
      text-align: center;
      line-height: 30px;
      color: #fff;
      margin-right: 10px;
      border-radius: 50%;
      font-weight: 600;
      font-size: 16px;
    }
  }
  .msgboard_banner_comment_main {
    width: 85%;
    margin: 0 auto;
    p {
      font-size: 14px;
    }
    .msgboard_banner_comment_main_content {
      color: #ccc;
      margin: 10px 0;
      .msgboard_banner_comment_main_content_icon {
        margin-left: 10px;
        svg {
          margin-right: 3px;
          margin-bottom: -1px;
        }
      }
      .msgboard_banner_comment_main_content_icon:hover {
        color: red;
      }
    }
  }
}
.msgboard_banner_comment_item_comment_two {
  padding-bottom: 20px;
  margin-left: 38px;
  margin-top: -10px;
  .msgboard_banner_comment_title_two {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 10px;
    .msgboard_banner_comment_item_two_icon {
      width: 30px;
      height: 30px;
      display: inline-block;
      text-align: center;
      line-height: 30px;
      color: #fff;
      margin-right: 10px;
      border-radius: 50%;
      font-weight: 600;
      font-size: 16px;
    }
  }
  .msgboard_banner_comment_main_two {
    width: 85%;
    margin: 0 auto;
    p {
      font-size: 14px;
    }
    .msgboard_banner_comment_main_two_content {
      margin: 15px 0;
    }
    .msgboard_banner_comment_main_content_two {
      color: #ccc;
      .msgboard_banner_comment_main_content_icon_two {
        margin-left: 10px;
        svg {
          margin-right: 3px;
          margin-bottom: -1px;
        }
      }
      .msgboard_banner_comment_main_content_icon_two:hover {
        color: red;
      }
    }
  }
}
.msgboard_banner_comment_item {
  background-color: #fff !important;
}

.msgboard_list {
  width: 752px;
  margin: 0 auto;
  background-color: #fff;
  .msgboard_list_title {
    padding: 30px 0;
    font-size: 16px;
    text-align: center;
    background-color: #fff;
  }
  .msgboard_list_data {
    width: 95%;
    margin: 0 auto;
  }

  h3:hover {
    color: red;
  }

  .msgboard_list_data_title {
    display: flex;
    line-height: 50px;
    text-align: center;
    h3 {
      margin-right: 10px;
      font-weight: 700;
      font-size: 16px;
    }
    span {
      line-height: 15px;
      margin-top: 20px;
      color: #ccc;
      height: 15px;
      border-left: 1px solid #ccc;
      display: flex;
      padding: 0 10px;
    }
    p {
      border-left: 1px solid #ccc;
      margin-top: 20px;
      padding-left: 10px;
      height: 15px;
      line-height: 15px;
      color: #ccc;
    }
  }

  .msgboard_list_data_item {
    border-bottom: 1px solid #ccc;

    position: relative;
    display: flex;
    padding: 10px 0;
    dt {
      height: 120px;
      overflow: hidden;
      margin: 0 10px;
      img {
        height: 120px;
        position: absolute;
        width: 200px;
        top: 50%;
        left: 15%;
        transform: translate3d(-50%, -50%, 0);
        object-fit: cover;
      }
    }

    dd {
      position: relative;
      margin-left: 220px;
      color: #000;
      .msgboard_list_data_item_bottom {
        .msgboard_list_data_item_bottom_icon {
          position: absolute;
          bottom: 0;
          display: flex;
          li {
            margin: 0 15px;
            margin-left: -0px;
            svg {
              margin-bottom: -2px;
              margin-right: 1px;
            }
          }
        }
      }
    }
  }
}

.msgboard_list_data_item_bottomTWo {
  border-bottom: 1px solid #ccc;

  ul {
    display: flex;
    padding-bottom: 10px;
    li {
      // margin-left:10px;
      svg {
        margin-bottom: -2px;
        margin-right: 1px;
      }

      margin: 0 20px;
      margin-left: -0px;
    }
  }
}
.msgboard_banner_comment_item_two_icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  background-color: red;
}
.msgboard_banner_comment_item_three_icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  text-align: center;
  line-height: 22px;
  background-color: green;
}

.msgboard_banner_comment_item_comment_two {
  margin-left: 15px;
}
.regards_page {
  padding-bottom: 10px;
}
.DetailTitle {
  margin: 10px;
}
.regards {
  min-height: 100vh;
  background: var(--bg-body);
  .container {
    width: 1140px;
    margin-right: auto;
    margin-left: auto;
    .center {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .headline {
        margin-left: -1120px;
        position: fixed;
        z-index: 10;
        top: 30vh;
        transform: translateX(-100%);
        padding-right: 10px;
        div {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 10px 0;
          span {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            color: #000;
            font-size: 14px;
            font-variant: tabular-nums;
            list-style: none;
            line-height: 1.5715;
            font-feature-settings: 'tnum';
            position: relative;
            display: inline-block;
            line-height: 1;
            ._1qU35tL8S:hover {
              b {
                color: red;
              }
            }
            ._1qU35tL8S {
              width: 32px;
              height: 32px;
              font-size: 22px;
              border-radius: 50%;
              cursor: pointer;
              display: flex;
              justify-content: center;
              align-items: center;
              background: var(--bg-second);
              color: var(--disable-text-color);
            }
            .ants {
              width: 50px;
              overflow: hidden;
              position: absolute;
              top: 0;
              right: 0;
              transform: translate(50%, -50%);
              transform-origin: 100% 0;
              border-radius: 20px;
              background: red;
            }
          }
        }
      }
      .left {
        flex: 1;
        width: calc(100% - 20rem - 1rem);
        padding-top: 1rem;
        padding-bottom: 1rem;
        div {
          padding: 1rem;
          background: var(--bg-second);
          border-radius: var(--border-radius);
        }
      }
      .right {
        width: 20rem;
        margin-left: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        .sticky {
          position: sticky;
          top: 1rem;
          margin-bottom: 1rem;
          .RightTop {
            border-radius: var(--border-radius);
            background-color: var(--bg-second);
            box-shadow: var(--box-shadow);
            margin-bottom: 1.3rem;
            line-height: 1.29;
            overflow: hidden;
            h4 {
              padding: 1rem;
              border-bottom: 1px solid var(--border-color);
              color: var(--main-text-color);
              font-weight: 700;
            }
            .ant {
              position: relative;
            }
          }
          .directory_title {
            div {
              position: relative;
              height: 30px;
              position: relative;
              padding: 0.5rem 0;
              display: list-item;

              &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 2px;
                bottom: 0;
                width: 2px;
                background-color: var(--border-color);
                opacity: 0.5;
              }

              div {
                margin-top: -5px;
                padding-left: 15px;

                &:hover {
                  color: var(--primary-color);
                }

                li {
                  &.small {
                    &::before {
                      position: absolute;
                      top: 17px;
                      width: 4px;
                      height: 4px;
                      left: 5px;
                      border-radius: 50%;
                      background: currentColor;
                      content: ' ';
                    }
                  }

                  &::before {
                    position: absolute;
                    top: 17px;
                    width: 6px;
                    height: 6px;
                    left: 5px;
                    border-radius: 50%;
                    margin-left: -5px;
                    background: #000;
                    content: '';
                  }

                  &:hover::before {
                    background: var(--primary-color);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

