.MailHeader{
    width: 100%;
    height: 50px;
    background-color: #fff;
    padding: 12px 24px;
}
.MailMain{
    width: 100%;
    padding: 24px;
}
.MailCenter{
    width: 100%;
    height: 40px;
    padding:8px 15px;
    background-color: #fffbe6;
    border:1px solid #ffe58f;
    margin: 0 auto;
    margin-bottom: 24px;
}
.MailSearch{
    width: 100%;
    background-color: #fff;
    padding: 24px 12px;
}
.MailSearchTop{
    display: flex;
    .MailSearchTopItem{
        margin: 0 15px;
    }
}

.MailSearchBottom{
    width: 100%;
    display: flex;
    justify-content:flex-end;
    button{
        margin: 0 5px;
        width: 80px;
    }
}
