.commentIpt {
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgb(18 18 18/10%);
  padding: 16px;
}
.commentIII footer {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}
.textarea {
  position: relative;
  textarea {
    border-color: #d9d9d9;
    color: rgba(0, 0, 0, 0.85);
    background-color: #fff;
    box-shadow: none !important;
  }
}
.antInput {
  max-width: 100%;
  height: auto;
  min-height: 32px;
  line-height: 1.5715;
  vertical-align: bottom;
  transition: all 0.3s, height 0s;
  box-sizing: border-box;
  margin: 0;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: 'tnum';
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  padding: 4px 11px;
  color: #000;
  font-size: 14px;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  transition: all 0.3s;
}
.ant-input:placeholder-shown {
  text-overflow: ellipsis;
}
