.detailBox {
  // position: relative;
  height: 100%;
  .Detail_box {
    // position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-position-x: 50%;
    background-position-y: 17%;
    // opacity: 0.2;
    -webkit-background-size: cover;
    background-size: cover;
    background: var(--bg-body);
    // filter: blur(20px);
    .Detail {
      width: 1140px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0 auto;
      .container {
        width: 1140px;
        ._3tC3y9W6nEYVdAwGypNta9 {
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;

          p {
            margin-left: 10px;
          }
          h3 {
            margin: 10px 10px;
          }
          .Detail_Left {
            width: 800px;
            margin-top: 30px;
            .Detail_LeftBox {
              //   width: 800px;
              margin-top: 30px;
              background-color: var(--bg-second);
              padding: 0.1rem;
              box-shadow: var(--box-shadow);
              border-radius: var(--border-radius);
              //   margin-bottom: 50px;
              //   background-color: #fff;
              dl {
                margin: 25px 10px;
                dt {
                  img {
                    width: 778px;
                    height: 255px;
                    margin-top: 20px;
                  }
                }
                dd {
                  text-align: center;
                  p {
                    margin-top: 5px;
                  }
                  p:nth-child(1) {
                    color: var(--main-text-color);
                    overflow: hidden;
                    font-weight: 600;
                    font-size: 16px;
                    margin-top: 15px;
                    line-height: 22px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-synthesis: style;
                  }
                  button {
                    width: 90px;
                    height: 35px;
                    margin-top: 5px;
                    color: #fff;
                    background: #f40a12;
                    border: none;
                  }
                  button:hover {
                    cursor: pointer;
                  }
                }
              }
              .DetailLeft_Bottom {
                ul {
                  li {
                    display: flex;
                    justify-content: space-between;
                    margin: 8px 25px;
                    line-height: 50px;
                    span {
                      margin: 0 20px;
                    }
                    span:nth-child(2) {
                      display: none;
                    }
                  }
                  li:hover {
                    cursor: pointer;
                    color: #f40a12;
                    background-color: var(--bg-body);
                    span:nth-child(2) {
                      margin-left: 460px;
                      display: block;
                    }
                  }
                }
              }
            }
          }
          .Detail_Right {
            width: 325px;
            margin-top: 3px;
            h3 {
              margin: 29px 10px;
              color: var(--main-text-color);
              font-weight: 600;
              font-size: 16px;
              line-height: 22px;
            }
            .Detail_RightBox {
              width: 325px;
              position: sticky;
              top: 1rem;
              margin-bottom: 1rem;
              background-color: #fff;
              div {
                width: 100%;
                overflow: hidden;
                padding: 0.1rem;
                background-color: var(--bg-second);
                border-radius: var(--border-radius);
                box-shadow: var(--box-shadow);
                border-bottom: 1px #ccc solid;
                .RightTop {
                  margin: 15px;
                  span::before {
                    content: '|';
                    color: #ccc;
                    margin: 15px;
                  }
                }
                dl {
                  margin: 7px;
                  display: flex;
                  dt {
                    img {
                      width: 190px;
                      height: 125px;
                    }
                  }
                  dd {
                    width: 106px;
                    height: 115px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin-left: 5px;
                    position: relative;
                    p:nth-child(1){
                        display: -webkit-box;
                        max-width: 100%;
                        color: var(--main-text-color);
                        overflow: hidden;
                        font-size: 14px;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                    }
                    p:nth-child(2) {
                      text-align: center;
                      align-items: center;
                      position: absolute;
                      bottom: 0;
                      span {
                        text-align: center;
                        svg {
                          text-align: center;
                          margin-right: 3px;
                        }
                      }
                      span:nth-child(2)::before {
                        content: '·';
                        margin: 6px;
                      }
                    }
                  }
                }
              }
              div:hover {
                b {
                  color: #f40a12;
                }
              }
            }
          }
        }
      }
    }
  }
}
