.brochureBox {
  min-height: 100vh;
  background: var(--bg-body);
  .brochure {
    width: 1140px;
    margin: 0 auto;
    .brochurebox {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0 auto;
      .left {
        flex: 1;
        width: calc(100% - 20rem - 1rem);
        padding-top: 1rem;
        padding-bottom: 1rem;
        .leftbox {
          width: 100%;
          overflow: hidden;
          padding: 1rem;
          background-color: var(--bg-second);
          border-radius: var(--border-radius);
          box-shadow: var(--box-shadow);
          div {
            list-style: none;
            margin: 20px;
            border-bottom: 1px #ccc solid;
            h2 {
              span:nth-child(1) {
                color: var(--main-text-color);
                overflow: hidden;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-synthesis: style;
              }
              span:nth-child(2) {
                font-size: 14px;
                color: #8590a6;
              }
              span:nth-child(2)::before {
                content: '|';
                color: #ccc;
                margin: 10px;
              }
            }
            dl {
              display: flex;
              dt {
                img {
                  width: 190px;
                  height: 100px;
                }
              }
              dd {
                width: 360px;
                position: relative;
                margin-left: 15px;
                p:nth-child(2) {
                  text-align: center;
                  align-items: center;
                  position: absolute;
                  bottom: 0;
                  span {
                    text-align: center;
                    svg {
                      text-align: center;
                      margin-right: 10px;
                    }
                  }
                  span:nth-child(2)::before {
                    content: '·';
                    margin: 6px;
                  }
                }
              }
            }
          }
          div:hover {
            cursor: pointer;
            h2 {
              span:nth-child(1) {
                color: #f40a12;
              }
            }
          }
        }
      }
      .right {
        width: 20rem;
        margin-left: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        .RightTop {
          margin-top: 20px;
          background-color: #fff;
        }
        .RightBottom {
          border-radius: var(--border-radius);
          margin-bottom: 1.3rem;
          background-color: var(--bg-second);
          box-shadow: var(--box-shadow);
          line-height: 1.29;
          overflow: hidden;

          h4 {
            padding: 1rem 1.3rem;
            border-bottom: 1px solid var(--border-color);
            color: var(--main-text-color);
            font-weight: 700;
          }
          .li {
            padding: 0 37px;
            border-radius: var(--border-radius);
            color: var(--second-text-color);
            line-height: 2.5em;
            transition: all 0.2s ease-in-out;
            span:nth-child(1) {
              width: 100px;
              display: inline-block;
            }
          }
          .li:hover {
            color: #f40a12;
          }
        }
      }
    }
  }
}
