.detailBox {
  width: 100%;
  height: 100%;
  background-color: #e7eaee;
  .Detail_box {
    width: 1160px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    p {
      margin-left: 10px;
    }
    h3 {
      margin: 10px 10px;
    }
    .Detail_Left {
      width: 870px;
      margin-top: 30px;
      .Detail_LeftBox {
        width: 800px;
        margin-top: 25px;
        margin-bottom: 50px;
        background-color: #fff;
        .LeftBoxTop {
          text-align: center;
          h1 {
            font-size: 40px;
            padding-top: 30px;
          }
          p {
            padding-top: 20px;
          }
        }
        p{
          text-align: center;
        }
      }
    }
    .Detail_Right {
      width: 325px;
      margin-top: 80px;
      .Detail_RightBox {
        width: 325px;
        position: sticky;
        top: 2rem;
        margin-bottom: 1rem;
        background-color: #e7eaee;
        // background-color: pink;
        .Detail_RightBoxTop {
          width: 325px;
          height: 165px;
          overflow-y: auto;
          background-color: #fff;
          b {
            padding-top: 10px;
            padding-left: 20px;
            font-size: 16px;
          }
          .Detail_RightBoxbox{
            overflow-y: auto;
            ul {
              li {
                margin: 12px 20px;
                padding: 5px;
              }
              li:hover {
                cursor: pointer;
                color: #f40a12;
                background-color: #e7eaee;
              }
            }
          }
        }
        .Detail_RightBoxBottom {
          width: 325px;
          margin-top: 10px;
          // background-color: pink;
          .directory_title {
            div {
              position: relative;
              height: 30px;
              position: relative;
              padding: 0.5rem 0;
              display: list-item;

              &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 2px;
                bottom: 0;
                width: 2px;
                background-color: var(--border-color);
                opacity: 0.5;
              }

              div {
                margin-top: -5px;
                padding-left: 15px;

                &:hover {
                  color: var(--primary-color);
                }

                li {
                  &.small {
                    &::before {
                      position: absolute;
                      top: 17px;
                      width: 4px;
                      height: 4px;
                      left: 5px;
                      border-radius: 50%;
                      background: currentColor;
                      content: ' ';
                    }
                  }

                  &::before {
                    position: absolute;
                    top: 17px;
                    width: 6px;
                    height: 6px;
                    left: 5px;
                    border-radius: 50%;
                    margin-left: -5px;
                    background: #000;
                    content: '';
                  }

                  &:hover::before {
                    background: var(--primary-color);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
