.ant-btn-primary{
    background-color: red;
    border-color: red;
}
.ant-modal-title {
    margin: 0;
    color: #333;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    word-wrap: break-word;
}
.ant-modal-header {
    padding: 16px 24px;
    color: #000;
    background: #fff;
    border-bottom: 1px solid #f0f0f0;
    border-radius: 2px 2px 0 0;
}
.ant-modal-body {
    padding: 24px;
    font-size: 14px;
    line-height: 1.5715;
    word-wrap: break-word;
}
html {
    --antd-wave-shadow-color: #f40a12;
    --scroll-bar: 0;
}
.ant-btn-primary {
    color: #fff;
    border-color: #f40a12;
    background: #f40a12;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}