.recommedI {
  width: 100%;
  height: 100%;
  background: #e7eaee;
}
.recommend {
  max-width: 800px;
  padding: 0 16px;
  margin:0px auto;
}
.recommendText {
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.06em;
}
._13a0ieTbw4mPlAdNBWux3c > div {
  background-color: transparent !important;
  box-shadow: none !important;
}
._13a0ieTbw4mPlAdNBWux3c {
  box-shadow: none;
}
.ammbB8tpRTlzwGu9Q8GNE {
  margin-bottom: 1.3rem;
  line-height: 1.29;
  overflow: hidden;
}
.antSpinNestedLoading {
  position: relative;
}
.antSpinContainer {
  position: relative;
  transition: opacity 0.3s;
}
.ILwjOWV5UwcJFf9ezqGA0 {
  width: 100%;
  padding: 1rem;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgb(18 18 18/10%);
  overflow: hidden;
}
._2D8ED0giWo1nndxIezP9QV {
  position: relative;
  margin-top: 2rem;
}
._2D8ED0giWo1nndxIezP9QV header {
  display: flex;
  align-items: center;
}
._1IGToA5f9XSMJzXpuwVLp {
  color: rgba(0, 0, 0, 0.85);
  overflow: hidden;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-synthesis: style;
}
.antDividerVertical {
  position: relative;
  top: -0.06em;
  display: inline-block;
  height: 0.9em;
  margin: 0 8px;
  vertical-align: middle;
  border-top: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  border-top: 1px solid rgba(0, 0, 0, 0.06);
}
._2Mkgs6voFLMQqzoODDiOee {
  color: #8590a6;
  padding-left: 10px;
}
._3PsEWu3HdzQ7gDzVtYm2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.KKzJyhKAimSvVUzx_qeZY {
  width: 100%;
  color: #8590a6;
  font-size: 14px;
  line-height: 20px;
  margin-top: 0.8rem;
}
.anticonShareAlt,
.anticonEye,
.anticonHeart {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
._2D8ED0giWo1nndxIezP9QV:after {
  content: '';
  position: absolute;
  bottom: -1rem;
  width: 100%;
  height: 1px;
  background: var(--border-color);
}
._2D8ED0giWo1nndxIezP9QV main {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 12px;
}
._2D8ED0giWo1nndxIezP9QV main ._1pOcxenLy4i0bdMwF_z7Pp {
  position: relative;
  flex: 0 0 auto;
  width: 190px;
  max-height: 150px;
  min-height: 100px;
  border-radius: 2px;
  margin-right: 1rem;
  overflow: hidden;
}
._2D8ED0giWo1nndxIezP9QV main ._1pOcxenLy4i0bdMwF_z7Pp img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translate3d(-50%, -50%, 0);
  object-fit: cover;
  opacity: 1;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}
._2D8ED0giWo1nndxIezP9QV main ._3PsEWu3HdzQ7gDzVtYm2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
._2D8ED0giWo1nndxIezP9QV
  main
  ._3PsE-Wu3HdzQ7gDzVt-Ym2
  ._1a1sLsWPcIiIOw3Zw2i3it {
  display: -webkit-box;
  max-width: 100%;
  color: rgba(0, 0, 0, 0.85);
  overflow: hidden;
  font-size: 14px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
._2D8ED0giWo1nndxIezP9QV main ._3PsEWu3HdzQ7gDzVtYm2 .KKzJyhKAimSvVUzx_qeZY {
  width: 100%;
  color: #8590a6;
  font-size: 14px;
  line-height: 20px;
  margin-top: 0.8rem;
}
