.label {
  width: 100%;
  height: 100%;
  background: #eff2f5;
  padding: 24px;
  display: flex;
  margin: 0 -8px;
}
.ipt {
  margin-bottom: 24px;
}
.ant-layout * {
  box-sizing: border-box;
}
.ant-col {
  position: relative;
}
.ant-col-md-9 {
  padding: 0 8px;
  display: block;
  flex: 0 0 37.5%;
  max-width: 37.5%;
}
.ant-col-md-15 {
  padding: 0 8px;
  display: block;
  flex: 0 0 62.5%;
  max-width: 62.5%;
}
