.containers{
    background-color: #fff;
    margin: 10px;
 width: 780px;
 margin-left:140px;
 h1{
    margin-left:260px;
 }
 p{
    margin-left:280px;
 }
 img{
     margin: 10px;
     width: 760px;
 }
}
.articledetail{
    width: 100%;
    height: 100%;
   
    background-color:#ccc;


}