.home_da {
  width: 100%;
  height: 100%;
  background-color: #e7eaee;
  
  .home{
    // width: 100%;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #e7eaee;
  }
  .middle_left{
    // width: 1230px;
    width: calc(100% - 120px);
    height: 100%;
    margin-top: 20px;
    background-color: #e7eaee;
    .classify_title{
      width: 100%;
      height: 90px;
      background-color:#fff;
      p{
       padding-top: 15px;
        text-align: center;
      }
      p:nth-child(1){
        span{
          font-size:25px;
          color:#ff0090;
        }
      }
      p:nth-child(2){
        span{
          color:#ff0090;
        }
      }
    }
    .bottomlist2{
      margin-top: 20px;
      background-color: #fff;
      .title_content{
        display: flex;
        p{
          margin-left: 20px;
        }
      }
      .Img{
        display: flex;
        margin-top: 20px;
        border-bottom: 1px #ccc solid;
          img{
            width: 190px;
            height: 100px;
          }
          .content_list{
            margin-top: 10px;
            line-height:35px;
            margin-left: 10px;
            span{
              margin-left: 10px;
            }
          }
      }
    }
  }
  .middle_right{
    width: 320px;
    height: 500px;
    margin-top: 20px;
    margin-left: 20px;
    background-color:#e7eaee;
  }
}

