.searchBox {
  width: 1688px;
  height: 824px;
  margin-left: -24px;
  margin-top: -24px;
  background-color: #eff2f5;
  .searchbox {
      width: 1688px;
      height: 824px;
  //   background-color: #eff2f5;
    .searchtop {
        width: 1688px;
        height: 128px;
        padding: 24px;
        background-color: #fff;
      .searchleft {
        display: flex;
        align-content: center;
        line-height: 50px;
      //   background-color: yellow;
        
        div {
          width: 350px;
          height: 50px;
          margin-left: 40px;
          // background-color: pink;
          span{
            margin-right: 5px;
          }
          input {
            width: 294px;
            height: 32px;
            outline: none;
            color:#ccc;
            padding-left: 15px;
            border: 1px #ccc solid;
          }
          select{
              width: 180px;
              height: 32px;
              cursor: pointer;
              outline: none;
              padding-left: 15px;
              border: 1px #ccc solid;
          }
        }
      }
      .searchright{
          // background-color: yellowgreen;
          button{
              width: 64px;
              height: 32px;
              border:none;
              cursor: pointer;
              border-radius:2px;
              margin-left: 10px;
          }
          button:nth-child(1){
              color:#fff;
              margin-left: 1410px;
              background-color:#0188fb;
          }
          button:nth-child(2){
           border:1px #ccc solid;
           background-color:#fff;
        }
      }
    }
    .searchbottom{
      width: 1688px;
      height: 500px;
      margin-top: 20px;
      background-color: #fff;
      .card_box {
        display: flex;
        flex-wrap: wrap;
        .card_content {  
            width: 25%;
          padding: 0 8px 15px; 
          img {
            width: 100%;
            height: 120px;
            object-fit: cover;
          }
        }
      }
    }
  }
}
:global{
  .card_box___1I3Tc{
      .ant-card-bordered{
          .ant-card-cover{
              height: 120px;
              overflow: hidden;
          }
      }
     
  }
}