.categorylist {
    width: 310px;
    height: 308px;
    line-height: 45px;
   background-color: #fff;
   p{
       display: flex;
       justify-content: space-between;
    a {
        padding: 0 15px;
      }
      span{
          width: 100px;
      }
   }
  }
  .header{
    width: 100%;
  }
  .oder{
      display: inline-block;
        width: 90%;
        height: 50px;
        margin-left: 10px;
        border-bottom: 1px solid #ccc;
    }
    .acti:hover{
        color: red;
    }