

@media screen and (min-width: 720px) {
  .main {
    display: flex;
    width: 100%;
    height: 100%;
    flex: 1;
    min-height: calc(100% - 64px);

  }

  .container {
    background-color: #ccc;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;

    &>div {
      // width: 1140px;
      width: calc(100% - 20px);
      // margin: auto;
      margin-left: auto;
      margin-right: auto;
      &>div {
        width: 1330px;
        margin-left: auto;
        margin-right: auto;
        // width: calc(100% - 110px);
        display: flex;
        justify-content:space-around;
        .content {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;

          section {
            margin-left: 50%;
            transform: translateX(-50%);
            flex: 1;
            width: calc(100% - 285px - 1rem);
            padding-top: 1rem;
            padding-bottom: 1rem;


            .banner {
              margin-bottom: 1rem;
              padding: .5rem;
              border-radius: var(--border-radius);
              width: 750px;
              background-color: #fff;
              margin-left: 7px;


              .Carousel {
                .swiperItem {
                  height: 100%;
                  position: relative;
                }

                img {
                  width: 720px;
                  height: 310px;
                  margin: 0 auto;
                }
              }

              >div {
                width: 100%;
                height: 100%;

                display: flex;
                flex-direction: column;

                h3 {
                  position: absolute;
                  top: 50%;
                  left: 58%;
                  font-size: 20px;
                  color: #fff;
                  margin-top: -6%;
                  margin-left: -19%;
                }

                p {
                  width: 50%;
                  position: absolute;
                  top: 60%;
                  left: 54%;
                  font-size: 20px;
                  color: #fff;
                  margin-top: -6%;
                  margin-left: -19%;

                  >span {
                    width: 100%;
                    display: inline-block;
                    margin-left: 4%;
                  }
                }

              }
            }
            .container_content {
              width: 750px;
              height: calc(100% - 328px);
              background-color: #fff;
              margin: 8px;
              .NavLink_path {
                width: 100%;
                height: 45px;
                border-bottom: 1px solid #ccc;
                display: flex;
                align-items: center;
                margin-left: -8px;
                &>div {
                  display: flex;
                  justify-content: space-around;
                  width: 60%;
                  margin-left: 8px;
                  &>a {
                    width: 30px;
                  }
                }
              }
              .title_hover:hover {
                color: var(--primary-color);
              }
              li {
                margin: 15px;
                border-bottom: 1px solid #ccc;
                height: 160px;
                .title_content {
                  display: flex;
                  margin-top: -10px;
                  &>p {
                    margin-left: 10px;
                  }
                }
                .Img {
                  display: flex;
                  width: 100%;
                  max-width: 100%;
                  min-height: 160px;
                  margin-right: 0;
                  margin-bottom: 1rem;
                  margin-top: 5px;
                  img {
                    width: 239px;
                    height: 123px;
                  }
                }
                .content_list {
                  width: 100%;
                  margin: 10px;
                  position: relative;
                  p {
                    position: absolute;
                    bottom: 25px;
                  }
                  .title_svg {
                    display: flex;
                    align-items: center;
                    &>span {
                      display: inline-block;
                      display: flex;
                      align-items: center;
                      width: 50px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1100px) {
  .right {
    width: 330px;
    height: 507px;
    .right_top {
      width: 100%;
      background-color: #fff;
      height: 250px;
      margin-top: 16px;

      .read {
        padding: 1rem;
        border-bottom: 1px solid var(--border-color);
        color: var(--main-text-color);
        font-weight: 700;

      }

      a:hover {
        color: red;
      }

      span:hover {
        color: red;
      }
    }

    .right_bottom {
      width: 100%;
      background-color: #fff;
      height: 228px;
      margin-top: 20px;

      .reding {
        padding: 1rem;
        border-bottom: 1px solid var(--border-color);
        color: var(--main-text-color);
        font-weight: 700;
      }
    }

  }
}

.right_recommend {
  width: 100%;

  &>p {
    margin-top: 7px;
    margin-left: 20px;

    span {
      margin-top: 10px;
    }
  }

  .ArticleTag {
    width: 100%;
    display: flex;
  }
}

.right_article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  &>div {
    display: flex;
    width: 30%;

    &>div:hover {
      width: 55px;
      color: red;
    }
  }
}
