.messageBoard {
  position: relative;
  margin-top: 21px;
}
.center{
  width: 100%;
  background-color: var(--bg-body);
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.containerI {
  padding-right: 0;
  padding-left: 0;
  max-width: 800px;
  padding: 0 8px 21px;
  margin: 0 auto;
  > div {
    padding-top: 0.5rem;
  }
}
.markdown {
  word-wrap: break-word;
  line-height: 1.75;
  font-weight: 400;
  font-size: 15px;
  overflow-x: hidden;
  letter-spacing: 1.2px;
  color: rgba(0, 0, 0, 0.85);
  h2 {
    padding-bottom: 12px;
    font-size: 24px;
  }
}
.messageBoardI {
  border-top: 1px solid;
  border-color: #f0f2f7;
  background: #e7eaee;
  padding: 1rem 0;
}
.comment {
  max-width: 800px;
  padding: 0 16px;
  margin: 0 auto;
}
.commentI {
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.06em;
}
.commentII {
  border-radius: 4px;
  margin-bottom: 35px;
}
.antBtnSm {
  height: 24px;
  padding: 0 7px;
  font-size: 14px;
  border-radius: 2px;
}
.commentList {
  padding: 16px;
  margin-top: 1rem;
  padding: 16px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgb(18 18 18/10%);
  background-color: #fff;
  margin-top: 1rem;
  header {
    display: flex;
    align-items: center;
  }
}
.commentItem {
  background: #fff;
  padding: 10px;
  dd {
    line-height: 30px;
  }
}
.antAvatar {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background: #ccc;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
}
.antAvatarI {
  position: absolute;
  left: 50%;
  transform-origin: 0 center;
}
.revertII textarea {
  width: 100%;
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.85);
  background: #fff;
  box-shadow: none !important;
}
.revertII footer {
  display: flex;
  justify-content: space-between;
}
._3k5GuVzUUtXzu2skrNnws {
  margin-top: 16px;
  color: rgba(0, 0, 0, 0.65);
  text-align: center;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgb(18 18 18/10%);
}
._3k5GuVzUUtXzu2skrNnws .ant-pagination {
  color: rgba(0, 0, 0, 0.85);
  box-sizing: border-box;
  color: #000;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  font-feature-settings: 'tnum';
  margin: 0;
  padding: 0;
  list-style: none;
}
.ant-pagination-prev {
  min-width: 24px;
  height: 24px;
  margin: 0;
  line-height: 24px;
}
.ant-pagination-disabled,
.ant-pagination-disabled:focus-visible,
.ant-pagination-disabled:hover {
  cursor: not-allowed;
}
.ant-pagination-next,
.ant-pagination-prev {
  font-family: Arial, Helvetica, sans-serif;
  outline: 0;
}
.ant-pagination-item-link{
  border:0;
}
