.visitBox {
  width: 1668px;
  height: 1024px;
  background-color: #eff2f5;
  .visitbox {
    width: 1668px;
    height: 1024px;
    .visittop {
      width: 1668px;
      height: 150px;
      margin: 20px;
      background-color: #fff;
      .visitleft {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        line-height: 50px;
        margin-top: 15px;
        margin-left: 50px;
        div {
          margin: 0 5px;
        }
        .ant-form-item-label {
          width: 45px;
          height: 50px;
          line-height: 50px;
          text-align: center;
          background-color: #0188fb;
        }
        label {
          width: 45px;
          height: 50px;
          line-height: 50px;
          text-align: center;
        }

        input::-webkit-input-placeholder {
          color: #bfbfbf;
        }
        .visit {
          width: 295px;
          height: 50px;
          line-height: 50px;
          margin-left: 40px;
        }
      }
      .visitright {
        button {
          width: 64px;
          height: 32px;
          border: none;
          cursor: pointer;
          border-radius: 2px;
          margin-left: 10px;
        }
        button:nth-child(1) {
          color: #fff;
          margin-left: 1410px;
          background-color: #0188fb;
        }
        button:nth-child(2) {
          border: 1px #ccc solid;
          background-color: #fff;
        }
        button:nth-child(2):hover {
          color: #0188fb;
          border-color: #0188fb;
        }
      }
    }
    .visitbottom {
      width: 1668px;
      height: 1000px;
      margin: 20px;
      .visitbottombox {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
