.searchBox {
  width: 1668px;
  height: 824px;
  background-color: #eff2f5;
  // background-color:cadetblue;
  .searchbox {
    width: 1668px;
    height: 824px;
    .searchtop {
      width: 1668px;
      height: 150px;
      margin: 20px;
      background-color: #fff;
      .searchleft {
        display: flex;
        align-content: center;
        line-height: 50px;
        margin-top: 15px;
        .div {
          height: 50px;
          margin-left: 40px;
          background-color: pink;
          select {
            width: 180px;
            height: 32px;
            cursor: pointer;
            outline: none;
            padding-left: 15px;
            border: 1px #ccc solid;
            option {
              width: 180px;
              height: 150px;
            }
          }
        }
        .search {
          width: 270px;
          height: 50px;
          line-height: 50px;
          margin-left: 40px;
        }
      }
      .searchright {
        button {
          width: 64px;
          height: 32px;
          border: none;
          cursor: pointer;
          border-radius: 2px;
          margin-left: 10px;
        }
        button:nth-child(1) {
          color: #fff;
          margin-left: 1410px;
          background-color: #0188fb;
        }
        button:nth-child(2) {
          border: 1px #ccc solid;
          background-color: #fff;
        }
        button:nth-child(2):hover {
          color: #0188fb;
          border-color: #0188fb;
        }
      }
    }
    .searchbottom {
      width: 1688px;
      height: 600px;
      margin-top: 20px;
      background-color: #fff;
    }
    .searchbottom {
      width: 1668px;
      height: 600px;
      margin: 20px;
      background-color: #fff;
      .searchbottombox {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
