.search {
  width: 97%;
  height: 100px;
  background-color: #fff;
  margin: 15px;

  .top {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;

    .Form {
      margin-top: 10px;
      width: 100%;
      height: 30px;
      display: flex;
      position: relative;
        .button{
         position: absolute;
         top: 50px;
         right: 90px;  
        }
        .button1{
          position: absolute;
         top: 50px;
         right: 0;  
        }
      .formitem {
        margin-left: 35px;

        input {
          width: 220px;
          border: 1px solid rgb(241, 239, 239);
        }
      }
    }

  }

  .button1 {
    display: flex;
    justify-content: flex-end;
    margin-right: 8px;

    &>button {
      margin-right: 10px;
    }
  }

}

.search_list {
  width: 97%;
  height: 658px;
  background-color: #fff;
  margin: 15px;

  .searchImg {
    display: flex;
    flex-wrap: wrap;

    img {
      width: 100%;
      height: 250px;
    }

    .shezhi {
      margin: 8px;
    }
  }

 
}
 .Img {
    width: 500px;
    height: 350px;
   margin: 10px;
    img {
      width: 100%;
      height: 100%;
    }
  }