.home {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    background: #e7eaee;
  
    &>div {
        width: 100%;
      //   width: 1200px;
        margin-left: auto;
        margin-right: auto;
      &>div {
          width: 1200px;
  
          margin-left: auto;
          margin-right: auto;
          display: flex;
          .left{
              width: 850px;
              .lefttop {
                  width: 100%;
                  height: 93px;
                  background: #fff;
                  text-align: center;
                  margin-top: 10px;
          
                  p span {
                    font-size: 20px;
                    color: #ff0064;
                  }
                }
                .leftcenter {
                  width: 100%;
                  height: 116px;
                  background: #fff;
                  margin-top: 1rem;
                
                
                  .top {
                    width: 100%;
                    height: 50px;
                    line-height: 50px;
                    margin-left: 10px;
                    font-weight: 800;
                    border-bottom: 1px solid #f0f2f7;
                  }
          
                  .bottom {
                    width: 100%;
                    height: 65px;
                    display: flex;
                    flex-flow: row wrap;
          
                    .li {
                      height: 26px;
                      padding: 2px 9px;
                      border: 1px solid #f0f2f7;
                      line-height: 20px;
                      text-align: center;
                      margin: 20px 8px 10px 6px;
                      font-size: 15px;
          
                      a {
                        color: #000;
          
                      }
                    }
                  }
                }
                .leftbottom {
                  width: 100%;
          
                  background: #fff;
                  margin-top: 1rem;
          
                  .bottomlist {
                    width: 100%;
                    height: 136px;
                    border-bottom: 1px solid #ccc;
          
                    .listtop {
                      width: 100%;
                      height: 24px;
                      line-height: 24px;
                      margin-left: 10px;
                      display: flex;
          
                      div:nth-child(1) {
                        margin-right: 10px;
                        font-weight: 800;
                        font-size: 16px;
                      }
          
                      div:nth-child(2) {
                        color: #ccc;
                      }
                    }
          
                    .listbottom {
                      width: 100%;
                      height: 112px;
                      margin-left: 10px;
                      margin-top: 5px;
                      display: flex;
                      line-height: 40px;
          
                      .img {
                        width: 190px;
                        height: 100px;
          
                        img {
                          width: 100%;
                          height: 100%;
                        }
                      }
          
                      .size {
                        margin-left: 15px;
          
                        .p {
                          span:nth-child(1) {
                            margin-left: 5px;
                          }
                        }
                      }
                    }
                  }
                }
          }
       
  
       
  
        
  
        .active {
          color: red;
        }
       .right{
           width: 310px;
           margin-left: 10px;
           margin-top: 10px;
       }
  
  
      }
    }
  
  }
