.Personage{
    width: 100%;
}
.PersonageHeader{
    height: 30px;
    width: 100%;
    background-color: #fff;
}
.PersonageMain{
    flex: 1;
    padding:24px;
    overflow: hidden;
    display:flex;
}
.PersonageLeft{
    display: block;
    flex: 0 0 50%;
    max-width: 50%;
    padding:0 8px;
    .PersonageLeftContent{
        padding:0px;
        background-color: #fff;
        li{
            padding:12px 24px !important;
            color: #000000 !important;
            border-bottom: 1px solid #cccccc;
            list-style: none;
        }
    }
}
.PersonageRight{
    display: block;
    flex: 0 0 50%;
    max-width: 50%;
    padding:0 8px;
    background-color: #fff;
}
.PersonageRightHeader{
    min-height:48px;
    padding:0 24px;
    color: #333;
    font-weight: 500;
    font-size: 16px;
    border-bottom: 1px solid #f0f0f0;
    border-radius: 2px 2px 0 0;
    line-height: 40px;
}
.PersonageRightContent{
    padding:24px;
}
.Avatar{
    margin-left:50% ;
    margin-top: 15px;
    margin-bottom: 15px;
}
.PersonageFrom{
    display:flex;
    flex-direction: column;
    align-items: center;
    div{
        width: 100%;
    }
    input{
        width: 75%;
    }
}
.ant-drawer-content-wrapper{
    width: 768px !important;
}
.DrawerHeader{
    width: 100%;
    padding: 16px 24px;
    border-bottom: 1px solid #ccc;
    border-radius: 2px 2px 0 0;
}
.MailSearchTop{
    display: flex;
    .MailSearchTopItem{
        margin: 0 15px;
        input{
            width: 110px;
        }
    }
}

.MailSearchBottom{
    width: 100%;
    display: flex;
    justify-content:flex-end;
    button{
        margin: 0 5px;
        width: 80px;
    }
}
.DrawerBody{
    flex: 1;
    padding: 24px;
    margin-bottom: 30px;
}
.Row_Card img{
    height: 110px !important;
}
.UploadButton{
    margin-bottom: 10px;
}