.Layouts_Header{
    display:flex;
    height: 64px;
    padding:18px;
    justify-content: space-between;
    margin-left: 200px;
    span{
        float: left;
        width: 25px;
        height: 25px;
        display: inline-block;
        margin: 0 5px;
    }
    border-bottom: 1px solid #ccc;
}
.Layouts_Edit{
    line-height: 25px;
    margin-right: 25px !important;
    font-weight:bold;
}
