.canvas {
  width: 97%;
  margin: 15px;
//   background-color: #fff;

  .nav_list {
    width: 100%;
    
    .header {
      width: 100%;
      background-color: #fff;
      height: 147px;
      border-bottom: 1px solid #ccc;
      line-height: 40px;

      .nav {
        width: 100%;
        border-bottom: 1px solid #ccc;
        height: 45px;
        padding-left: 15px;
      }

      .footer_navlink {
        height: calc(100% - 55px);
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    }
  }

  .content_list {
      overflow: hidden;
      height: 410px;
      width: 100%;
    //   margin-top: 15px;
    .content {
        overflow-y: auto;
      height: 500px;
      background-color: #fff;
      margin-top: 15px;
      .article {
      
        line-height: 45px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        &>p{
            margin-left: 15px;
            margin-right: 15px;
        }
      }

      .rwo_list {
        margin-left: 18px;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        width: 97%;
        
        .rwo_lists {
          width: 33%;
          height: 160px;
          display: flex;
         
          flex-wrap: wrap;
          padding: 24px;
          border: 0;
          border-radius: 0;
          box-shadow: 1px 0 0 0 #f0f0f0, 0 1px 0 0 #f0f0f0, 1px 1px 0 0 #f0f0f0, inset 1px 0 0 0 #f0f0f0, inset 0 1px 0 0 #f0f0f0;
          transition: all .3s;

          img {
            width: 300px;
            height: 80px;
          }
        }
        .rwo_lists:hover{
        
            box-shadow: 0 0 0 5px #f0f0f0;
        }
      }
    }
  }


  .footer{
      width: 97%;
      height: 370px;
      background-color: #fff;
      
      .comment{
          display: flex;
          width: 100%;
          justify-content:space-between;
         &>p{
             margin-left: 15px;
             margin-right: 15px;
         }
      }
  }
}
