.title {
  border-bottom: 1px solid #ccc;
  height: 30px;
  line-height: 30px;
  padding-left: 15px;
}

html,
body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.divs {
  width: 100%;
  height: 100%;
  background-color: red;
}

.antds {
  position: relative;
  width: 760px;
  height: 300px;
  padding: 0px;
  margin: 0px;
  border-width: 0px;
  cursor: default;
}

.andtdsc {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 706px;
  height: 300px;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding: 0px;
  margin: 0px;
  border-width: 0px
}
.container{
  width: 97%;
  background-color:#fff;
  margin: 15px;
}
