.LayoutsHeader{
    color: #fff;
}
.Header{
    margin: 5px 0;
}
.Header span{
    display: flex;
}

.Header img{
    width: 32px;
    height: 32px;
    opacity: 1;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    object-fit: cover;
    margin: 5px 5px;
}
.HeaderButton{
    color: #fff;
    background: #0188fb;
    border-color: #0188fb;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
    height: 40px;
    padding: 6.4px 15px;
    font-size: 16px;
    border-radius: 2px;
    width: 180px;
    margin-left:10px;
}
.site-layout-background{
    display:flex
}
.Menu{
    position: fixed;
    left: 0;
    height: 100%;
}