.pigeonhole {
  width: 100%;
  min-height: 100vh;
  background: var(--bg-body);
  .container {
    width: 1240px;
    margin-right: auto;
    margin-left: auto;
    .center {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  .left {
    flex: 1;
    width: calc(100% - 20rem - 1rem);
    padding-top: 1rem;
    padding-bottom: 1rem;
    .connact {
      background-color: var(--bg-second);
      box-shadow: var(--box-shadow);
      .toop {
        padding: 16px 0;
        border-bottom: 1px solid var(--border-color);
        background-color: var(--bg-second);
        text-align: center;
      }
      .but {
        padding: 1rem 1.3rem;
      }
      .buut {
        margin-top: 1.5rem;
        padding: 1rem 1.3rem;
      }
    }
    .h1 {
      color: red;
      text-align: center;
    }
    .h3 {
      text-align: center;
    }
    .h2 {
      font-weight: 600;
      margin: 20px 20px;
    }
    b {
      color: red;
    }
    .lefts {
      display: flex;
      flex-direction: column;
      margin-left: 35px;
      ul {
        width: 100%;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        .lis {
          list-style-type: disc;
          margin: 20px 30px;
          // width: 500px;
          // white-space: nowrap;
          // overflow: hidden;
          // text-overflow: ellipsis;
          a {
            display: flex;
            span {
              width: 60px;
              line-height: 30px;
            }
            h2 {
              font-weight: 600;
              margin-left: 15px;
            }
          }
        }
      }
      .lis:hover {
        h2 {
          color: red;
        }
      }
    }
  }
  .right {
    width: 20rem;
    margin-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    .sticky {
      position: sticky;
      top: 1rem;
      margin-bottom: 1rem;
    }
    .RightBottom {
      border-radius: var(--border-radius);
      margin-bottom: 1.3rem;
      background-color: var(--bg-second);
      box-shadow: var(--box-shadow);
      line-height: 1.29;
      overflow: hidden;
      h4 {
        padding: 1rem 1.3rem;
        border-bottom: 1px solid var(--border-color);
        color: var(--main-text-color);
        font-weight: 700;
      }
      ul {
        padding: 0.5rem;
        a {
          list-style: none;
          display: flex;
          margin: 10px;
          justify-content: space-between;
          span:nth-child(1) {
            width: 100px;
            display: inline-block;
          }
        }
        a:hover {
          color: #f40a12;
        }
      }
    }
  }
  .detail {
    width: 100%;
    height: 100%;
    background: #fff;
    .h1 {
      color: red;
      text-align: center;
    }
  }
}

// .box {
//   min-height: 100vh;
//   background: var(--bg-body);
//   .middle {
//     width: 970px;
//     margin-right: auto;
//     margin-left: auto;
//     .inmost {
//       display: flex;
//       justify-content: center;
//       flex-wrap: wrap;
//       div {
//         flex: 1;
//         width: calc(100% - 20rem - 1rem);
//         padding-top: 1rem;
//         padding-bottom: 1rem;
//         .left {
//           padding: 1rem;
//           background: var(--bg-second);
//           box-shadow: var(--box-shadow);
//           border-radius: var(--border-radius);
//           .markdown{
//             width: 100%;

//           }
//         }
//       }
//     }
//   }
// }
