.Search {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
}
.SearchBody {
  width: 50%;
  margin: 0 auto;
}
.SearchHeader {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  padding: 10px;
  font-size: 25px;
}
.SearchInput {
  width: 80%;
  border: none;
  border: 2px solid red;
  line-height: 30px;
  margin: 10px;
}
.SearchButton {
  width: 10%;
  line-height: 30px;
}
.SearchItem {
  list-style: none;
  margin: 10px;
}
