.page {
  width: 100%;
  height: 100%;
  background: #eff2f5;
  padding: 24px 12px;
}
.sPYrkftgglgcqyg8EHw1 {
  margin-bottom: 16px;
}
.ant-form {
  background: #fff;
}
.ant-table-cell p {
  button {
    border: none;
    padding: 0 7px;
    background: none;
    span {
      color: #0188fb;
    }
  }
  span {
    color: #eee;
  }
}
.ant-table-wrapper {
  background: #fff;
}
.add {
  display: flex;
  justify-content: space-between;
}
