.allArticle {
  width: 100%;
  height: 100%;
  background: #eff2f5;
  padding: 24px;
}
.sPYrkftgglgcqyg8EHw1 {
  margin-bottom: 16px;
}
.ant-form {
  background: #fff;
}
.ant-table-cell p {
  button {
    border: none;
    padding: 0 7px;
    span {
      color: #0188fb;
    }
  }
  span {
    color: #eee;
  }
}
.btn {
  width: 100%;
  text-align: right;
  button {
    margin-left: 8px;
  }
}
.ant-table-wrapper {
  background: #fff;
  padding: 24px 12px;
}
.show button {
  margin-right: 8px;
}
