.expression {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    cursor: pointer;
  }
  .antBtn {
    border-color: #d9d9d9;
    color: rgba(0, 0, 0, 0.85);
    background-color: #f5f5f5;
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    user-select: none;
    touch-action: manipulation;
    height: 32px;
    padding: 4px 15px;
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
  }
  .expressionDiv{
    width: 250px;
    display:flex;
    flex-wrap: wrap;
    span{
      width: 10%;
      text-align: center;
      line-height: 20px;
    }
  }