.userBox {
  width: 1668px;
  height: 824px;
  // margin-left: -24px;
  // margin-top: -24px;
  background-color: #eff2f5;
  .userbox {
    width: 1668px;
    height: 824px;
    .usertop {
      width: 1668px;
      height: 150px;
      margin: 20px;
      background-color: #fff;
      .userleft {
        display: flex;
        align-content: center;
        padding-top: 25px;
        // background-color: yellow;

        .div {
          // width: 350px;
          height: 50px;
          margin-left: 40px;
        //   background-color: pink;
          input {
            width: 294px;
            height: 32px;
            outline: none;
            color: #ccc;
            padding-left: 15px;
            border: 1px #ccc solid;
          }
          input::-webkit-input-placeholder {
            color: #bfbfbf;
          }
          select {
            width: 180px;
            height: 32px;
            cursor: pointer;
            outline: none;
            padding-left: 15px;
            border: 1px #ccc solid;
            option {
              width: 180px;
              height: 150px;
            }
          }
        }
        .user {
          width: 290px;
          height: 50px;
          line-height: 50px;
          margin-left: 70px;
          .users {
            width: 220px;
            height: 32px;
            line-height: 20px;
            margin-left: 0;
          }
        }
      }
      .userright {
        // background-color: yellowgreen;
        button {
          width: 64px;
          height: 32px;
          border: none;
          cursor: pointer;
          border-radius: 2px;
          margin-left: 10px;
        }
        button:nth-child(1) {
          color: #fff;
          margin-left: 1410px;
          background-color: #0188fb;
        }
        button:nth-child(2) {
          border: 1px #ccc solid;
          background-color: #fff;
        }
        button:nth-child(2):hover{
          color: #0188fb;
          border-color:#0188fb;
      }
      }
    }
    .userbottom {
      width: 1668px;
      // height: 600px;
      margin: 20px;
      background: #fff;
    }
  }
}
