.LoginCenter{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80vw;
    box-shadow: 0 2px 8px #f0f1f2;
    border-radius: 4px;
    display: flex!important;
    background-color: #fff;
}
.LoginCenter_left{
    padding:2rem;
}
.LoginCenter_right{
    padding: 2rem;
    display: inline-flex;
    align-items: center;
    width: 100%;
}
.LoginCenter_Input{
    width: 100%;
    height: 100%;
    background: #f7fafb;
    box-sizing: border-box;
}
.LoginCenter_Body{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    
    h2{
        margin-left: 22%;
    }
}

.LoginCenter_List{
    margin-right: 100px;
    .Sign{
        margin-left: 240px; 
    }
}
.button{
    width: 100%;
}
.Login{
    width: 100%;
    height: 100%;
    background-color: #e7eaee;
}
svg{
    width: 100%;
    height: 100%;
}